#filmtable {
  margin-top: 70px;
  margin-bottom: 60px;
}

.table tbody>tr>td { 
  vertical-align: middle;
  text-align: center;
}

td:last-child {
  min-width: 130px;
} 

thead {
  font-weight: bold;
}

.poster {
  height: 120px;
  width: auto;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 3px solid blue; /* Blue */
  border-bottom: 3px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pagination {
  margin: 8px 0px;
}
